// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree for Redmi Note 9 (merlinx - non-NFC)
 * SoC: MediaTek MT6769Z (Helio G85)
 * Display: 1080x2340 Tianma DSI panel
 * Storage: eMMC 5.1 + SD card
 * USB: Type-C OTG
 */

/dts-v1/;
#include "mt6768.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Xiaomi Redmi Note 9 (merlinx)";
	compatible = "xiaomi,merlinx", "mediatek,mt6768";

	memory@40000000 {
		device_type = "memory";
		reg = <0x00000000 0x40000000 0x00000001 0x00000000>;
	};

	chosen {
		bootargs = "console=ttyS0,921600n1 earlycon=uart8250,mmio32,0x11002000,921600n8";
		stdout-path = "uart0:921600n8";
	};

	/* Backlight */
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0 0 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <0 32 64 96 128 160 192 224 255>;
		default-brightness-level = <6>;
	};

	/* Vibrator */
	vibrator: vibrator {
		compatible = "gpio-vibrator";
		enable-gpios = <&pinctrl 77 GPIO_ACTIVE_HIGH>;
	};

	/* LED indicators */
	leds {
		compatible = "gpio-leds";
		status-led {
			label = "merlinx:status:amber";
			gpios = <&pinctrl 145 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};
};

/* eMMC - 8-bit, HS400 */
&mmc0 {
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	non-removable;
	status = "okay";
};

/* SD Card - 4-bit */
&mmc1 {
	bus-width = <4>;
	max-frequency = <50000000>;
	cap-sd-highspeed;
	cd-gpios = <&pinctrl 18 GPIO_ACTIVE_LOW>;
	status = "okay";
};

/* UART0 console */
&uart0 {
	status = "okay";
};

/* I2C0 - Touchscreen */
&i2c0 {
	status = "okay";
};

/* I2C1 - Sensors */
&i2c1 {
	status = "okay";
};

/* I2C2 - Camera sensors */
&i2c2 {
	status = "okay";
};

/* SPI0 */
&spi0 {
	status = "okay";
};

/* USB OTG */
&usb {
	dr_mode = "otg";
	status = "okay";
};

/* Thermal sensor */
&thermal {
	status = "okay";
};

/* PWM for backlight */
&pwm0 {
	status = "okay";
};

/* DSI display output */
&dsi {
	status = "okay";

	panel@0 {
		compatible = "tianma,tm6451f", "simple-panel";
		reg = <0>;
		backlight = <&backlight>;
		enable-gpios = <&pinctrl 6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl 5 GPIO_ACTIVE_LOW>;

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

/* GPU */
&mali {
	status = "okay";
};
