// SPDX-License-Identifier: GPL-2.0
/*
 * Device Tree for Redmi Note 9 (merlinx - non-NFC)
 * SoC: MediaTek MT6769Z (Helio G85)
 * Display: 1080x2340 Tianma DSI panel
 * Storage: eMMC 5.1 + SD card
 * USB: Type-C OTG
 * WiFi: MT7663 SDIO
 * Audio: MT6358 codec
 * Cameras: IMX686 + OV8856 + GC02M1
 */

/dts-v1/;
#include "mt6768.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Xiaomi Redmi Note 9 (merlinx MT6769Z)";
	compatible = "xiaomi,merlinx", "mediatek,mt6769z",
		     "mediatek,mt6769", "mediatek,mt6768";

	memory@40000000 {
		device_type = "memory";
		reg = <0x00000000 0x40000000 0x00000001 0x00000000>;
	};

	chosen {
		bootargs = "console=ttyS0,921600n1 earlycon=uart8250,mmio32,0x11002000,921600n8";
		stdout-path = "uart0:921600n8";
	};

	/* Backlight */
	backlight: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm0 0 50000 PWM_POLARITY_INVERTED>;
		brightness-levels = <0 32 64 96 128 160 192 224 255>;
		default-brightness-level = <6>;
	};

	/* Vibrator */
	vibrator: vibrator {
		compatible = "gpio-vibrator";
		enable-gpios = <&pinctrl 77 GPIO_ACTIVE_HIGH>;
	};

	/* LED indicators */
	leds {
		compatible = "gpio-leds";
		status-led {
			label = "merlinx:status:amber";
			gpios = <&pinctrl 145 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	/* Flashlight LED */
	flash-led {
		compatible = "gpio-leds";
		flash-led {
			label = "merlinx:flash:white";
			gpios = <&pinctrl 123 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "flash";
		};
		torch-led {
			label = "merlinx:torch:white";
			gpios = <&pinctrl 124 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "torch";
		};
	};

	/* Audio sound card */
	sound: sound {
		compatible = "mediatek,mt6768-sound",
			     "mediatek,mt6779-sound";
		model = "mt6768-merlinx";
		audio-routing =
			"Headphone", "HPOL",
			"Headphone", "HPOR",
			"Speakers", "SPK",
			"Speakers", "SPKL",
			"Speakers", "SPKR",
			"Headset Mic", "HSREF",
			"Headset Mic", "HSMIC",
			"Main Mic", "DMIC1",
			"Sub Mic", "DMIC2";
	};

	/* Battery fuel gauge */
	battery: battery {
		compatible = "simple-battery";
		charge-full-design-microamp-hours = <5000000>;
		voltage-min-design-microvolt = <3400000>;
		voltage-max-design-microvolt = <4400000>;
	};
};

/* PMIC Regulators - MT6358 */
&pmic {
	regulators {
		vcore: buck-vcore {
			regulator-name = "vcore";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
			regulator-always-on;
		};

		vpa: boost-vpa {
			regulator-name = "vpa";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <3650000>;
		};

		vgpu: buck-vgpu {
			regulator-name = "vgpu";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
		};

		vmodem: buck-vmodem {
			regulator-name = "vmodem";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
			regulator-always-on;
		};

		vproc11: buck-vproc11 {
			regulator-name = "vproc11";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
			regulator-always-on;
		};

		vproc12: buck-vproc12 {
			regulator-name = "vproc12";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
			regulator-always-on;
		};

		vdram1: buck-vdram1 {
			regulator-name = "vdram1";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <2087500>;
			regulator-always-on;
		};

		vs1: buck-vs1 {
			regulator-name = "vs1";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <2087500>;
		};

		vs2: buck-vs2 {
			regulator-name = "vs2";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <2087500>;
		};

		va09: ldo-va09 {
			regulator-name = "va09";
			regulator-min-microvolt = <900000>;
			regulator-max-microvolt = <900000>;
		};

		vaud28: ldo-vaud28 {
			regulator-name = "vaud28";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};

		vaux18: ldo-vaux18 {
			regulator-name = "vaux18";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		vbif28: ldo-vbif28 {
			regulator-name = "vbif28";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};

		vcama1: ldo-vcama1 {
			regulator-name = "vcama1";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2800000>;
		};

		vcama2: ldo-vcama2 {
			regulator-name = "vcama2";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2800000>;
		};

		vcamd: ldo-vcamd {
			regulator-name = "vcamd";
			regulator-min-microvolt = <900000>;
			regulator-max-microvolt = <1500000>;
		};

		vcamio: ldo-vcamio {
			regulator-name = "vcamio";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1800000>;
		};

		vcn18: ldo-vcn18 {
			regulator-name = "vcn18";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		vcn28: ldo-vcn28 {
			regulator-name = "vcn28";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};

		vcn33_bt: ldo-vcn33-bt {
			regulator-name = "vcn33_bt";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3600000>;
		};

		vcn33_wifi: ldo-vcn33-wifi {
			regulator-name = "vcn33_wifi";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3600000>;
		};

		vdram2: ldo-vdram2 {
			regulator-name = "vdram2";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1800000>;
		};

		vemc: ldo-vemc {
			regulator-name = "vemc";
			regulator-min-microvolt = <2900000>;
			regulator-max-microvolt = <3300000>;
			regulator-always-on;
		};

		vefuse: ldo-vefuse {
			regulator-name = "vefuse";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <2200000>;
		};

		vfe28: ldo-vfe28 {
			regulator-name = "vfe28";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};

		vio18: ldo-vio18 {
			regulator-name = "vio18";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		vio28: ldo-vio28 {
			regulator-name = "vio28";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};

		vldo28: ldo-vldo28 {
			regulator-name = "vldo28";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};

		vmc: ldo-vmc {
			regulator-name = "vmc";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		vmch: ldo-vmch {
			regulator-name = "vmch";
			regulator-min-microvolt = <2900000>;
			regulator-max-microvolt = <3300000>;
		};

		vsim1: ldo-vsim1 {
			regulator-name = "vsim1";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		vsim2: ldo-vsim2 {
			regulator-name = "vsim2";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <3300000>;
		};

		vusb: ldo-vusb {
			regulator-name = "vusb";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3300000>;
		};

		vibr: ldo-vibr {
			regulator-name = "vibr";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <3300000>;
		};

		vrf12: ldo-vrf12 {
			regulator-name = "vrf12";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};

		vrf18: ldo-vrf18 {
			regulator-name = "vrf18";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		vsram_gpu: ldo-vsram-gpu {
			regulator-name = "vsram_gpu";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
		};

		vsram_others: ldo-vsram-others {
			regulator-name = "vsram_others";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
		};

		vsram_proc11: ldo-vsram-proc11 {
			regulator-name = "vsram_proc11";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
		};

		vsram_proc12: ldo-vsram-proc12 {
			regulator-name = "vsram_proc12";
			regulator-min-microvolt = <500000>;
			regulator-max-microvolt = <1293750>;
		};

		vxo22: ldo-vxo22 {
			regulator-name = "vxo22";
			regulator-min-microvolt = <2200000>;
			regulator-max-microvolt = <2200000>;
			regulator-always-on;
		};

		va12: ldo-va12 {
			regulator-name = "va12";
			regulator-min-microvolt = <1200000>;
			regulator-max-microvolt = <1200000>;
		};
	};
};

/* eMMC - 8-bit, HS400 */
&mmc0 {
	bus-width = <8>;
	max-frequency = <200000000>;
	cap-mmc-highspeed;
	mmc-hs200-1_8v;
	mmc-hs400-1_8v;
	non-removable;
	vmmc-supply = <&vmc>;
	vqmmc-supply = <&vio18>;
	status = "okay";
};

/* SD Card / WiFi combo */
&mmc1 {
	bus-width = <4>;
	max-frequency = <50000000>;
	cap-sd-highspeed;
	cd-gpios = <&pinctrl 18 GPIO_ACTIVE_LOW>;
	vmmc-supply = <&vmch>;
	vqmmc-supply = <&vmc>;
	status = "okay";

	/* MT7663 WiFi via SDIO slot */
	wifi@1 {
		compatible = "mediatek,mt7663s";
		reg = <1>;
		interrupt-parent = <&pinctrl>;
		interrupts = <146 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "wifi";
	};
};

/* UART0 console */
&uart0 {
	status = "okay";
};

/* I2C0 - Touchscreen */
&i2c0 {
	status = "okay";

	/* Touchscreen: Novatek NT36672A */
	touchscreen@5c {
		compatible = "novatek,nt36672a";
		reg = <0x5c>;
		interrupt-parent = <&pinctrl>;
		interrupts = <3 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&pinctrl 2 GPIO_ACTIVE_LOW>;
		touchscreen-size-x = <1080>;
		touchscreen-size-y = <2340>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
		vdd-supply = <&vcn28>;
		iovdd-supply = <&vcn18>;
		firmware-name = "novatek_ts_fw.bin";
	};
};

/* I2C1 - Sensors + FM Radio */
&i2c1 {
	status = "okay";

	/* BMI160 IMU */
	bmi160@68 {
		compatible = "bmi,bmi160";
		reg = <0x68>;
		interrupt-parent = <&pinctrl>;
		interrupts = <100 IRQ_TYPE_EDGE_RISING>;
		vdd-supply = <&vcn18>;
		vddio-supply = <&vio18>;
	};

	/* STK3310 Proximity/Light */
	stk3310@48 {
		compatible = "sensortek,stk3310";
		reg = <0x48>;
		interrupt-parent = <&pinctrl>;
		interrupts = <101 IRQ_TYPE_EDGE_RISING>;
		vdd-supply = <&vcn18>;
	};

	/* AKM09918 Compass/Magnetometer */
	akm09918@0c {
		compatible = "asahi-kasei,akm09918";
		reg = <0x0c>;
		interrupt-parent = <&pinctrl>;
		interrupts = <102 IRQ_TYPE_EDGE_RISING>;
		vdd-supply = <&vcn18>;
		vddio-supply = <&vcn18>;
	};

	/* MT6631 FM Radio */
	fm-radio@64 {
		compatible = "mediatek,mt6631-fm";
		reg = <0x64>;
		interrupt-parent = <&pinctrl>;
		interrupts = <103 IRQ_TYPE_EDGE_RISING>;
		vdd-supply = <&vcn18>;
	};
};

/* UART1 - GPS */
&uart1 {
	status = "okay";

	gnss {
		compatible = "mediatek,gnss";
		vdd-supply = <&vcn28>;
		vddio-supply = <&vcn18>;
	};
};
&uart2 {
	status = "okay";

	bluetooth {
		compatible = "mediatek,mt7663-bluetooth";
		interrupt-parent = <&pinctrl>;
		interrupts = <147 IRQ_TYPE_LEVEL_LOW>;
		enable-gpios = <&pinctrl 148 GPIO_ACTIVE_HIGH>;
		vddio-supply = <&vcn18>;
	};
};

/* I2C2 - Camera sensors */
&i2c2 {
	status = "okay";

	/* Main camera: IMX686 64MP */
	imx686: camera@1a {
		compatible = "sony,imx686";
		reg = <0x1a>;
		enable-gpios = <&pinctrl 120 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl 121 GPIO_ACTIVE_LOW>;
		af-gpios = <&pinctrl 122 GPIO_ACTIVE_HIGH>;
		flash-gpios = <&pinctrl 123 GPIO_ACTIVE_HIGH>;
		clocks = <&clk26m>;
		clock-names = "xvclk";
		assigned-clocks = <&clk26m>;
		assigned-clock-rates = <24000000>;
		avdd-supply = <&vcamd>;
		dovdd-supply = <&vcamio>;
		dvdd-supply = <&vcn18>;
		port {
			imx686_ep: endpoint {
				remote-endpoint = <&seninf_ep0>;
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
			};
		};
	};

	/* Ultra-wide: OV8856 8MP */
	ov8856: camera@36 {
		compatible = "ovti,ov8856";
		reg = <0x36>;
		enable-gpios = <&pinctrl 124 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl 125 GPIO_ACTIVE_LOW>;
		clocks = <&clk26m>;
		clock-names = "xvclk";
		assigned-clock-rates = <24000000>;
		avdd-supply = <&vcamd>;
		dovdd-supply = <&vcamio>;
		dvdd-supply = <&vcn18>;
		port {
			ov8856_ep: endpoint {
				remote-endpoint = <&seninf_ep1>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
			};
		};
	};

	/* Macro: GC02M1 2MP */
	gc02m1: camera@3c {
		compatible = "galaxycore,gc02m1";
		reg = <0x3c>;
		enable-gpios = <&pinctrl 126 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl 127 GPIO_ACTIVE_LOW>;
		clocks = <&clk26m>;
		clock-names = "xvclk";
		avdd-supply = <&vcamd>;
		dovdd-supply = <&vcamio>;
	};
};

/* I2C6 - MT6370 sub-PMIC (charger, Type-C PD, flash LED) */
&i2c6 {
	status = "okay";

	mt6370_pmu: mt6370-pmu@34 {
		compatible = "richtek,mt6370-pmu";
		reg = <0x34>;
		interrupt-parent = <&pinctrl>;
		interrupts = <149 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "irq";

		mt6370_charger: charger {
			compatible = "richtek,mt6370-charger";
			support_pd;
			support_typec;
			non_std_ac_charger_current = <3000000>;
			pd_charger_current = <3000000>;
			ta_ac_charger_current = <3000000>;
			usb_charger_current = <500000>;
			usb_charger_current_unconfigured = <500000>;
			usb_charger_current_configured = <1500000>;
			min_charger_voltage = <4400000>;
			min_charge_temp_plus_x_degree = <5000>;
			temp_t0_thres = <5000>;
			temp_t1_thres = <10000>;
			temp_t2_thres = <20000>;
			temp_t3_thres = <45000>;
			temp_t4_thres = <55000>;
			safety_timer = <3600>;
			pe20_ichg_level_threshold = <3000000>;
			ta_stop_battery_soc = <95>;
			pd_stop_battery_soc = <95>;
			pe40_stop_battery_soc = <95>;
		};

		mt6370_typec: typec_port0 {
			compatible = "richtek,mt6370-tcpc";
			typec,receptacle;
			pd,source-pdo-size = <4>;
			pd,source-pdo-data = <0x000193C8 0x0002D12C 0x0003C12C 0x0003C190>;
			pd,sink-pdo-size = <4>;
			pd,sink-pdo-data = <0x000193C8 0x0002D12C 0x0003C12C 0x0003C190>;
			pd,source-cap-ext = <0x00010012 0x00010016 0x00010028>;
		};

		mt6370_fled1: mt6370-fled1 {
			compatible = "richtek,mt6370-fled1";
			strobe_cur = <1500000>;
			torch_cur = <375000>;
			strobe_timeout = <1300>;
		};

		mt6370_fled2: mt6370-fled2 {
			compatible = "richtek,mt6370-fled2";
			strobe_cur = <1500000>;
			torch_cur = <375000>;
			strobe_timeout = <1300>;
		};

		mt6370_ldo: ldo {
			compatible = "richtek,mt6370-ldo";
			regulator-compatible = "ldo";
			regulator-name = "mt6370_ldo";
			regulator-min-microvolt = <3000000>;
			regulator-max-microvolt = <3600000>;
		};

		mt6370_dsv: dsv {
			compatible = "richtek,mt6370-dsv";
			regulator-compatible = "dsv";
			regulator-name = "mt6370_dsv";
			regulator-min-microvolt = <4600000>;
			regulator-max-microvolt = <6500000>;
		};
	};
};

/* SPI0 */
&spi0 {
	status = "okay";
};

/* USB OTG */
&usb {
	dr_mode = "otg";
	status = "okay";
};

/* Thermal sensor */
&thermal {
	status = "okay";
};

/* PWM for backlight */
&pwm0 {
	status = "okay";
};

/* DSI display output */
&dsi {
	status = "okay";

	panel@0 {
		compatible = "tianma,tm6451f", "simple-panel";
		reg = <0>;
		backlight = <&backlight>;
		enable-gpios = <&pinctrl 6 GPIO_ACTIVE_HIGH>;
		reset-gpios = <&pinctrl 5 GPIO_ACTIVE_LOW>;

		display-timings {
			native-mode = <&timing0>;
			timing0: timing {
				clock-frequency = <148500000>;
				hactive = <1080>;
				vactive = <2340>;
				hfront-porch = <30>;
				hback-porch = <30>;
				hsync-len = <10>;
				vfront-porch = <10>;
				vback-porch = <10>;
				vsync-len = <4>;
				hsync-active = <0>;
				vsync-active = <0>;
				de-active = <0>;
				pixelclk-active = <0>;
			};
		};

		port {
			panel_in: endpoint {
				remote-endpoint = <&dsi_out>;
			};
		};
	};

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			dsi_out: endpoint {
				remote-endpoint = <&panel_in>;
			};
		};
	};
};

/* GPU */
&mali {
	clocks = <&topckgen CLK_TOP_MMPLL>;
	clock-names = "gpu";
	status = "okay";
};

/* Camera sensor interface */
&seninf {
	status = "okay";

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@0 {
			reg = <0>;
			seninf_ep0: endpoint {
				remote-endpoint = <&imx686_ep>;
				bus-type = <4>; /* CSI2 DPHY */
				data-lanes = <1 2 3 4>;
				clock-lanes = <0>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <297000000>;
			};
		};

		port@1 {
			reg = <1>;
			seninf_ep1: endpoint {
				remote-endpoint = <&ov8856_ep>;
				bus-type = <4>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <297000000>;
			};
		};
	};
};

/* Camera ISP */
&camsv0 {
	status = "okay";
};

/* Fingerprint Sensor - via SPI */
&spi0 {
	status = "okay";

	fingerprint@0 {
		compatible = "fpc,fpc1020";
		reg = <0>;
		interrupt-parent = <&pinctrl>;
		interrupts = <128 IRQ_TYPE_EDGE_FALLING>;
		reset-gpios = <&pinctrl 129 GPIO_ACTIVE_LOW>;
		vdd-supply = <&vcn18>;
		vddio-supply = <&vio18>;
	};
};

/ {
	/* IR Blaster */
	ir-blaster {
		compatible = "gpio-ir-tx";
		gpios = <&pinctrl 130 GPIO_ACTIVE_HIGH>;
	};

	/* GPIO Keys - Power + Volume */
	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";

		power-key {
			label = "Power Key";
			gpios = <&pinctrl 66 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_POWER>;
			wakeup-source;
		};

		vol-up {
			label = "Volume Up";
			gpios = <&pinctrl 67 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEUP>;
			wakeup-source;
		};

		vol-down {
			label = "Volume Down";
			gpios = <&pinctrl 68 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_VOLUMEDOWN>;
			wakeup-source;
		};
	};
};
