// SPDX-License-Identifier: GPL-2.0
/*
 * MediaTek MT6768/MT6769/MT6769Z SoC device tree source include
 */

#include <dt-bindings/interrupt-controller/arm-gic.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include <dt-bindings/clock/mt6769-clk.h>
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/thermal/thermal.h>

/ {
	model = "MediaTek MT6769Z";
	compatible = "mediatek,mt6769z", "mediatek,mt6769", "mediatek,mt6768";
	interrupt-parent = <&gic>;
	#address-cells = <2>;
	#size-cells = <2>;

	chosen {
		bootargs = "console=ttyS0,921600n1 earlycon=uart8250,mmio32,0x11002000,921600n8";
		stdout-path = "uart0:921600n8";
	};

	memory@40000000 {
		device_type = "memory";
		reg = <0 0x40000000 0 0x80000000>;
	};

	psci {
		compatible = "arm,psci-1.0";
		method = "smc";
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu0: cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x000>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_opp_table>;
			#cooling-cells = <2>;
		};
		cpu1: cpu@100 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x100>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_opp_table>;
			#cooling-cells = <2>;
		};
		cpu2: cpu@200 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x200>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_opp_table>;
			#cooling-cells = <2>;
		};
		cpu3: cpu@300 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x300>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_opp_table>;
			#cooling-cells = <2>;
		};
		cpu4: cpu@400 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x400>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_opp_table>;
			#cooling-cells = <2>;
		};
		cpu5: cpu@500 {
			device_type = "cpu";
			compatible = "arm,cortex-a55";
			reg = <0x500>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_opp_table>;
			#cooling-cells = <2>;
		};
		cpu6: cpu@600 {
			device_type = "cpu";
			compatible = "arm,cortex-a75";
			reg = <0x600>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_big_opp_table>;
			#cooling-cells = <2>;
		};
		cpu7: cpu@700 {
			device_type = "cpu";
			compatible = "arm,cortex-a75";
			reg = <0x700>;
			enable-method = "psci";
			cpu-idle-states = <&CPU_SLEEP>;
			operating-points-v2 = <&cpu_big_opp_table>;
			#cooling-cells = <2>;
		};

		cpu_opp_table: opp-table-cluster0 {
			compatible = "operating-points-v2";
			opp-shared;

			opp-500000000 {
				opp-hz = /bits/ 64 <500000000>;
				opp-microvolt = <850000>;
			};
			opp-850000000 {
				opp-hz = /bits/ 64 <850000000>;
				opp-microvolt = <900000>;
			};
			opp-1200000000 {
				opp-hz = /bits/ 64 <1200000000>;
				opp-microvolt = <950000>;
			};
			opp-1500000000 {
				opp-hz = /bits/ 64 <1500000000>;
				opp-microvolt = <1000000>;
			};
			opp-1701000000 {
				opp-hz = /bits/ 64 <1701000000>;
				opp-microvolt = <1050000>;
			};
		};

		cpu_big_opp_table: opp-table-cluster1 {
			compatible = "operating-points-v2";
			opp-shared;

			opp-500000000 {
				opp-hz = /bits/ 64 <500000000>;
				opp-microvolt = <850000>;
			};
			opp-850000000 {
				opp-hz = /bits/ 64 <850000000>;
				opp-microvolt = <900000>;
			};
			opp-1200000000 {
				opp-hz = /bits/ 64 <1200000000>;
				opp-microvolt = <950000>;
			};
			opp-1500000000 {
				opp-hz = /bits/ 64 <1500000000>;
				opp-microvolt = <1000000>;
			};
			opp-1800000000 {
				opp-hz = /bits/ 64 <1800000000>;
				opp-microvolt = <1050000>;
			};
			opp-2000000000 {
				opp-hz = /bits/ 64 <2000000000>;
				opp-microvolt = <1100000>;
			};
			opp-2171000000 {
				opp-hz = /bits/ 64 <2171000000>;
				opp-microvolt = <1150000>;
			};
		};

		CPU_SLEEP: cpu-sleep {
			compatible = "arm,idle-state";
			arm,psci-suspend-param = <0x00000001>;
			entry-latency-us = <600>;
			exit-latency-us = <600>;
			min-residency-us = <1200>;
		};
	};

	thermal-zones {
		cpu-thermal {
			polling-delay-passive = <250>;
			polling-delay = <1000>;
			thermal-sensors = <&thermal 0>;

			trips {
				cpu_alert0: cpu-alert0 {
					temperature = <70000>;
					hysteresis = <2000>;
					type = "passive";
				};
				cpu_alert1: cpu-alert1 {
					temperature = <85000>;
					hysteresis = <2000>;
					type = "passive";
				};
				cpu_crit: cpu-crit {
					temperature = <115000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};

			cooling-maps {
				map0 {
					trip = <&cpu_alert0>;
					cooling-device = <&cpu0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>,
							 <&cpu6 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
				};
			};
		};

		battery-thermal {
			polling-delay-passive = <250>;
			polling-delay = <1000>;
			thermal-sensors = <&thermal 1>;

			trips {
				battery_alert: battery-alert {
					temperature = <60000>;
					hysteresis = <2000>;
					type = "passive";
				};
				battery_crit: battery-crit {
					temperature = <70000>;
					hysteresis = <2000>;
					type = "critical";
				};
			};
		};

		skin-thermal {
			polling-delay-passive = <500>;
			polling-delay = <2000>;
			thermal-sensors = <&thermal 2>;

			trips {
				skin_alert: skin-alert {
					temperature = <50000>;
					hysteresis = <2000>;
					type = "passive";
				};
			};
		};
	};

	clocks {
		clk26m: oscillator@0 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <26000000>;
			clock-output-names = "clk26m";
		};
		clk32k: oscillator@1 {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <32768>;
			clock-output-names = "clk32k";
		};
	};

	soc {
		compatible = "simple-bus";
		#address-cells = <2>;
		#size-cells = <2>;
		ranges;

		gic: interrupt-controller@0c000000 {
			compatible = "arm,gic-v3";
			reg = <0 0x0c000000 0 0x40000>,
			      <0 0x0c040000 0 0x200000>;
			interrupts = <GIC_PPI 9 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-controller;
			#interrupt-cells = <3>;
		};

		uart0: serial@11002000 {
			compatible = "mediatek,mt6577-uart";
			reg = <0 0x11002000 0 0x1000>;
			interrupts = <GIC_SPI 91 IRQ_TYPE_LEVEL_LOW>;
			status = "okay";
		};

		uart1: serial@11003000 {
			compatible = "mediatek,mt6577-uart";
			reg = <0 0x11003000 0 0x1000>;
			interrupts = <GIC_SPI 92 IRQ_TYPE_LEVEL_LOW>;
			status = "disabled";
		};

		uart2: serial@11004000 {
			compatible = "mediatek,mt6577-uart";
			reg = <0 0x11004000 0 0x1000>;
			interrupts = <GIC_SPI 93 IRQ_TYPE_LEVEL_LOW>;
			status = "disabled";
		};

		i2c0: i2c@11007000 {
			compatible = "mediatek,mt6577-i2c";
			reg = <0 0x11007000 0 0x1000>,
			      <0 0x11c20000 0 0x1000>;
			interrupts = <GIC_SPI 44 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>, <&clk26m>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c1: i2c@11008000 {
			compatible = "mediatek,mt6577-i2c";
			reg = <0 0x11008000 0 0x1000>,
			      <0 0x11c30000 0 0x1000>;
			interrupts = <GIC_SPI 45 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>, <&clk26m>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		i2c2: i2c@11009000 {
			compatible = "mediatek,mt6577-i2c";
			reg = <0 0x11009000 0 0x1000>,
			      <0 0x11c40000 0 0x1000>;
			interrupts = <GIC_SPI 46 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>, <&clk26m>;
			clock-names = "main", "dma";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		spi0: spi@1100a000 {
			compatible = "mediatek,mt6589-spi";
			reg = <0 0x1100a000 0 0x1000>;
			interrupts = <GIC_SPI 111 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>;
			clock-names = "main";
			#address-cells = <1>;
			#size-cells = <0>;
			status = "disabled";
		};

		mmc0: mmc@11230000 {
			compatible = "mediatek,mt6779-mmc", "mediatek,mt2712-mmc";
			reg = <0 0x11230000 0 0x1000>,
			      <0 0x11c20000 0 0x1000>;
			interrupts = <GIC_SPI 74 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>, <&clk26m>;
			clock-names = "source", "hclk";
			status = "okay";
		};

		mmc1: mmc@11240000 {
			compatible = "mediatek,mt6779-mmc", "mediatek,mt2712-mmc";
			reg = <0 0x11240000 0 0x1000>,
			      <0 0x11c30000 0 0x1000>;
			interrupts = <GIC_SPI 75 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>, <&clk26m>;
			clock-names = "source", "hclk";
			status = "disabled";
		};

		mmc2: mmc@11250000 {
			compatible = "mediatek,mt6779-mmc", "mediatek,mt2712-mmc";
			reg = <0 0x11250000 0 0x1000>,
			      <0 0x11c40000 0 0x1000>;
			interrupts = <GIC_SPI 76 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>, <&clk26m>;
			clock-names = "source", "hclk";
			status = "disabled";
		};

		usb: usb@11200000 {
			compatible = "mediatek,mtk-mtu3";
			reg = <0 0x11200000 0 0x3000>;
			interrupts = <GIC_SPI 64 IRQ_TYPE_LEVEL_LOW>;
			clocks = <&clk26m>, <&clk26m>;
			clock-names = "sys_ck", "ref_ck";
			dr_mode = "otg";
			status = "okay";
		};

		infracfg: syscon@10001000 {
			compatible = "mediatek,mt6769z-infracfg", "mediatek,mt6769-infracfg", "mediatek,mt6768-infracfg",
				     "mediatek,mt6769z-infracfg-ao", "mediatek,mt6769-infracfg-ao", "mediatek,mt6768-infracfg-ao",
				     "syscon";
			reg = <0 0x10001000 0 0x1000>;
		};

		topckgen: syscon@10000000 {
			compatible = "mediatek,mt6769z-topckgen", "mediatek,mt6769-topckgen", "mediatek,mt6768-topckgen", "syscon";
			reg = <0 0x10000000 0 0x1000>;
		};

		apmixedsys: syscon@1000c000 {
			compatible = "mediatek,mt6769z-apmixedsys", "mediatek,mt6769-apmixedsys", "mediatek,mt6768-apmixedsys", "syscon";
			reg = <0 0x1000c000 0 0x1000>;
		};

		scpsys: syscon@10006000 {
			compatible = "mediatek,mt6768-scpsys", "syscon";
			reg = <0 0x10006000 0 0x1000>;
		};

		pinctrl: pinctrl@10005000 {
			compatible = "mediatek,mt6769z-pinctrl", "mediatek,mt6769-pinctrl", "mediatek,mt6768-pinctrl";
			reg = <0 0x10005000 0 0x1000>;
			gpio-controller;
			gpio-ranges = <&pinctrl 0 0 187>;
			#gpio-cells = <2>;
			interrupt-controller;
			interrupts = <GIC_SPI 186 IRQ_TYPE_LEVEL_HIGH>;
			#interrupt-cells = <2>;
		};

		pwrap: pwrap@1000d000 {
			compatible = "mediatek,mt6768-pwrap";
			reg = <0 0x1000d000 0 0x1000>;
			interrupts = <GIC_SPI 194 IRQ_TYPE_LEVEL_HIGH>;

			pmic: mt6358 {
				compatible = "mediatek,mt6358";
				interrupt-controller;
				#interrupt-cells = <2>;
				interrupts = <144 IRQ_TYPE_LEVEL_HIGH>;
			};
		};

		rtc: rtc@1000f000 {
			compatible = "mediatek,mt6768-rtc", "mediatek,mt6397-rtc";
			reg = <0 0x1000f000 0 0x1000>;
			interrupts = <GIC_SPI 137 IRQ_TYPE_LEVEL_LOW>;
		};

		wdt: watchdog@10007000 {
			compatible = "mediatek,mt6768-wdt", "mediatek,mt6589-wdt";
			reg = <0 0x10007000 0 0x1000>;
			interrupts = <GIC_SPI 156 IRQ_TYPE_LEVEL_LOW>;
			timeout-sec = <10>;
			status = "okay";
		};

		thermal: thermal@1100b000 {
			compatible = "mediatek,mt2701-thermal";
			reg = <0 0x1100b000 0 0x1000>;
			interrupts = <GIC_SPI 53 IRQ_TYPE_LEVEL_LOW>;
			#thermal-sensor-cells = <1>;
			nvmem-cells = <&thermal_calibration>;
			nvmem-cell-names = "calibration-data";
			status = "okay";
		};

		mali: gpu@13040000 {
			compatible = "arm,mali-g52", "arm,mali-bifrost";
			reg = <0 0x13040000 0 0x10000>;
			interrupts = <GIC_SPI 220 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 221 IRQ_TYPE_LEVEL_HIGH>,
				     <GIC_SPI 222 IRQ_TYPE_LEVEL_HIGH>;
			interrupt-names = "job", "mmu", "gpu";
			clocks = <&topckgen CLK_TOP_MMPLL>;
			clock-names = "gpu";
			operating-points-v2 = <&gpu_opp_table>;
			status = "disabled";
		};

		gpu_opp_table: gpu-opp-table {
			compatible = "operating-points-v2";
			opp-shared;

			opp-300000000 {
				opp-hz = /bits/ 64 <300000000>;
				opp-microvolt = <800000>;
			};
			opp-500000000 {
				opp-hz = /bits/ 64 <500000000>;
				opp-microvolt = <900000>;
			};
			opp-800000000 {
				opp-hz = /bits/ 64 <800000000>;
				opp-microvolt = <1000000>;
			};
			opp-1000000000 {
				opp-hz = /bits/ 64 <1000000000>;
				opp-microvolt = <1100000>;
			};
		};

		mmsys: syscon@14000000 {
			compatible = "mediatek,mt6768-mmsys", "syscon";
			reg = <0 0x14000000 0 0x1000>;
		};

		dsi: dsi@14014000 {
			compatible = "mediatek,mt6768-dsi", "mediatek,mt6779-dsi";
			reg = <0 0x14014000 0 0x1000>,
			      <0 0x14015000 0 0x1000>;
			interrupts = <GIC_SPI 210 IRQ_TYPE_LEVEL_LOW>;
			phys = <&mipi_tx0>;
			phy-names = "dphy";
			status = "disabled";
		};

		mipi_tx0: mipi-dphy@14012000 {
			compatible = "mediatek,mt6768-mipi-tx", "mediatek,mt6779-mipi-tx";
			reg = <0 0x14012000 0 0x1000>;
			clocks = <&clk26m>;
			clock-output-names = "mipitx_dsi_ck";
			#clock-cells = <0>;
			#phy-cells = <0>;
		};

		pwm0: pwm@1401e000 {
			compatible = "mediatek,mt6768-disp-pwm", "mediatek,mt6779-disp-pwm";
			reg = <0 0x1401e000 0 0x1000>;
			#pwm-cells = <2>;
			status = "disabled";
		};

		seninf: seninf@15040000 {
			compatible = "mediatek,mt6768-seninf", "mediatek,mt6779-seninf";
			reg = <0 0x15040000 0 0x4000>;
			interrupts = <GIC_SPI 208 IRQ_TYPE_LEVEL_LOW>;
			status = "disabled";
		};

		camsv0: camsv@15050000 {
			compatible = "mediatek,mt6768-camsv", "mediatek,mt6779-camsv";
			reg = <0 0x15050000 0 0x1000>;
			interrupts = <GIC_SPI 209 IRQ_TYPE_LEVEL_LOW>;
			status = "disabled";
		};

		nvmem: nvmem@1401d000 {
			compatible = "mediatek,mt6768-efuse", "mediatek,efuse";
			reg = <0 0x1401d000 0 0x1000>;

			thermal_calibration: thermal-calib {
				reg = <0x000 0x010>;
			};
		};
	};
};
